worker_processes 1;
error_log /dev/stdout debug;

events {
    worker_connections 1024;
}

http {
    access_log /dev/stdout;
    server {
        listen 8080;
        location / {
            return 200 'OK\n';
            add_header Content-Type text/plain;
        }
    }
}

rtmp {
    access_log /dev/stdout;

    server {
        listen 1935;
        chunk_size 4096;

        application live {
            live on;
            record off;

            __PUSH_YOUTUBE__
            __PUSH_TWITCH__
            __PUSH_KICK__
        }
    }
}
